In [1]:
import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.formula.api as smf

In [6]:
gpa1 = pd.read_csv("gpa1.csv")

In [10]:
gpa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       141 non-null    int64
 1   soph      141 non-null    int64
 2   junior    141 non-null    int64
 3   senior    141 non-null    int64
 4   senior5   141 non-null    int64
 5   male      141 non-null    int64
 6   campus    141 non-null    int64
 7   business  141 non-null    int64
 8   engineer  141 non-null    int64
 9   colGPA    141 non-null    float64
 10  hsGPA     141 non-null    float64
 11  ACT       141 non-null    int64
 12  job19     141 non-null    int64
 13  job20     141 non-null    int64
 14  drive     141 non-null    int64
 15  bike      141 non-null    int64
 16  walk      141 non-null    int64
 17  voluntr   141 non-null    int64
 18  PC        141 non-null    int64
 19  greek     141 non-null    int64
 20  car       141 non-null    int64
 21  siblings  141 non-null    int64
 22  bgfriend  141 non-null    int64
 23  clubs     141 non-null    int64
 24  skipped   141 non-null    float64
 25  alcohol   141 non-null    float64
 26  gradMI    141 non-null    int64
 27  fathcoll  141 non-null    int64
 28  mothcoll  141 non-null    int64
dtypes: float64(4), int64(25)
memory usage: 32.1 KB

In [9]:
gpa1.describe()

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,...,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,...,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.00000,141.000000,141.000000
mean,20.886525,0.021277,0.382979,0.503546,0.092199,0.524823,0.170213,0.794326,0.035461,3.056738,...,0.319149,0.773050,0.936170,0.475177,0.602837,1.076241,1.901064,0.87234,0.588652,0.539007
std,1.271064,0.144819,0.487846,0.501770,0.290337,0.501164,0.377159,0.405634,0.185601,0.372310,...,0.467809,0.420353,0.245321,0.501164,0.491055,1.088882,1.374701,0.33490,0.493832,0.500253
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.200000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.800000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,0.000000
50%,21.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.00000,1.000000,1.000000
75%,21.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.300000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.00000,1.000000,1.000000
max,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,7.000000,1.00000,1.000000,1.000000

In [ ]:
y = gpa1['colGPA']

In [22]:
reg = smf.ols(formula='colGPA ~ hsGPA + ACT', data=gpa1)
results = reg.fit()
b = results.params

In [14]:
results.params

Intercept    1.286328
hsGPA        0.453456
ACT          0.009426
dtype: float64

In [15]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 colGPA   R-squared:                       0.176
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                     14.78
Date:                Thu, 25 Mar 2021   Prob (F-statistic):           1.53e-06
Time:                        21:53:38   Log-Likelihood:                -46.573
No. Observations:                 141   AIC:                             99.15
Df Residuals:                     138   BIC:                             108.0
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.2863      0.341      3.774      0.000       0.612       1.960
hsGPA          0.4535      0.096      4.733      0.000       0.264       0.643
ACT            0.0094      0.011      0.875      0.383      -0.012       0.031
==============================================================================
Omnibus:                        3.056   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.217   Jarque-Bera (JB):                2.469
Skew:                           0.199   Prob(JB):                        0.291
Kurtosis:                       2.488   Cond. No.                         298.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
results.rsquared

0.17642159703480653

In [ ]:
# PAGE 107 - ols of log formula
# PAGE 108 - ols matrix form

In [19]:
#Omitted Variable Bias
#Relation between regressors

reg_delta = smf.ols(formula='hsGPA ~ ACT', data=gpa1)
results_delta = reg_delta.fit()
delta_tilde = results_delta.params

In [20]:
delta_tilde

Intercept    2.462537
ACT          0.038897
dtype: float64

In [23]:
#Omitted Variables Formula for b1_tilde
b1_tilde = b['ACT'] + b['hsGPA'] * delta_tilde['ACT']
b1_tilde

0.027063973943178537

In [24]:
#Actual regression with hsGPA omitted:
reg_om = smf.ols(formula='colGPA ~ ACT', data=gpa1)
results_om = reg_om.fit()
b_om = results_om.params

In [25]:
b_om

Intercept    2.402979
ACT          0.027064
dtype: float64

In [ ]:
#PAGE 113 
#FULL ESTIMATION RESULTS INCLUDING AUTOMATIC SE:
fullreg = smf.ols(formula='colGPA ~ hsGPA + ACT', data=gpa1)
fullresults = fullreg.fit()

In [ ]:
#EXTRACT SER(instead of calculation via residuals)
SER = np.sqrt(results.mse_resid)

In [ ]:
#regressing hsGPA on ACT for calculation of R2 & VIF
fullreg_hsGPA = smf.ols(formula = 'hsGPA ~ ACT', data=gpa1)
fullresults_hsGPA = fullreg_hsGPA.fit()
R2_hsGPA = results_hsGPA.rsquared
VIF_hsGPA = 1 / (1 - R2_hsGPA)

In [ ]:
#manual calculation of SE of hsGPA coefficient
n = results.nobs
sdx = np.std(gpa1['hsGPA'], ddof=1) * np.sqrt((n-1)/n)
SE_hsGPA = 1 / np.sqrt(n) * SER / sdx * np.sqrt(VIF_hsGPA)

In [1]:

import patsy as pt
import statsmodels.stats.outliers_influence as smo

In [2]:
#extract matrices using patsy:
y, X = pt.dmatrices ('np.log(wage) ~ educ + exper + tenure', data=wage1, return_type='dataframe')

NameError: name 'wage1' is not defined

In [ ]:
#get VIF:
K = X.shape[1]
VIF = np.empty(K)
for i in range(K):
    VIF[i] = smo.variance_inflation_factor(X.values, i)