In [1]:
import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.formula.api as smf

In [2]:
gpa1 = pd.read_csv("gpa1.csv")

In [3]:
gpa1

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,...,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
0,21,0,0,1,0,0,0,1,0,3.0,...,0,1,1,0,0,2.0,1.0,1,0,0
1,21,0,0,1,0,0,0,1,0,3.4,...,0,1,0,1,1,0.0,1.0,1,1,1
2,20,0,1,0,0,0,0,1,0,3.0,...,0,1,1,0,1,0.0,1.0,1,1,1
3,19,1,0,0,0,1,1,1,0,3.5,...,0,0,1,0,0,0.0,0.0,0,0,0
4,20,0,1,0,0,0,0,1,0,3.6,...,0,1,1,1,0,0.0,1.5,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,22,0,0,0,1,0,0,1,0,3.0,...,0,1,1,1,1,0.0,0.0,1,0,0
137,21,0,0,1,0,1,0,1,0,2.3,...,0,1,1,0,0,1.0,1.0,1,0,0
138,20,0,1,0,0,0,0,1,0,2.8,...,0,1,1,1,0,0.0,0.3,1,0,0
139,20,0,1,0,0,1,1,1,0,3.4,...,1,1,1,1,1,3.0,4.0,1,0,1
140,21,0,0,1,0,1,0,0,0,2.8,...,0,0,1,1,1,3.0,2.0,1,1,1

In [4]:
wage1 = pd.read_csv("wage1.csv")

In [5]:
wage1

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [8]:
wagereg = smf.ols(formula='np.log(wage) ~ educ + exper + tenure', data=wage1)
wagefit = wagereg.fit()

In [9]:
wagefit.params

Intercept    0.284360
educ         0.092029
exper        0.004121
tenure       0.022067
dtype: float64

In [10]:
wagefit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.316
Model:                            OLS   Adj. R-squared:                  0.312
Method:                 Least Squares   F-statistic:                     80.39
Date:                Sat, 27 Mar 2021   Prob (F-statistic):           9.13e-43
Time:                        12:52:39   Log-Likelihood:                -313.55
No. Observations:                 526   AIC:                             635.1
Df Residuals:                     522   BIC:                             652.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2844      0.104      2.729      0.007       0.080       0.489
educ           0.0920      0.007     12.555      0.000       0.078       0.106
exper          0.0041      0.002      2.391      0.017       0.001       0.008
tenure         0.0221      0.003      7.133      0.000       0.016       0.028
==============================================================================
Omnibus:                       11.534   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               20.941
Skew:                           0.021   Prob(JB):                     2.84e-05
Kurtosis:                       3.977   Cond. No.                         135.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
meap93 = pd.read_csv("meap93.csv")

In [12]:
meap93

,lnchprg,enroll,staff,expend,salary,benefits,droprate,gradrate,math10,sci11,totcomp,ltotcomp,lexpend,lenroll,lstaff,bensal,lsalary
0,1.400000,1862,112.599998,5765,37498.0,7420,2.900000,89.199997,56.400002,67.900002,44918.0,10.712594,8.659560,7.529407,4.723842,0.197877,10.532043
1,2.300000,11355,101.199997,6601,48722.0,10370,1.300000,91.400002,42.700001,65.300003,59092.0,10.986851,8.794976,9.337414,4.617099,0.212840,10.793886
2,2.700000,7685,114.000000,6834,44541.0,7313,3.500000,91.400002,43.799999,54.299999,51854.0,10.856188,8.829665,8.947025,4.736198,0.164186,10.704165
3,3.400000,1148,85.400002,3586,31566.0,5989,3.600000,86.599998,25.299999,60.000000,37555.0,10.533562,8.184793,7.045776,4.447346,0.189729,10.359836
4,3.400000,1572,96.099998,3847,29781.0,5545,0.000000,100.000000,15.300000,65.800003,35326.0,10.472375,8.255049,7.360104,4.565389,0.186193,10.301626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,60.900002,1689,78.400002,5380,41856.0,9468,35.799999,23.500000,7.000000,11.200000,51324.0,10.845914,8.590444,7.431892,4.361824,0.226204,10.641991
404,61.099998,2631,100.699997,5088,35020.0,7655,17.500000,61.099998,8.100000,22.700001,42675.0,10.661368,8.534640,7.875119,4.612146,0.218589,10.463675
405,73.800003,4024,85.199997,3942,32678.0,6220,8.700000,83.300003,11.500000,26.799999,38898.0,10.568698,8.279444,8.300032,4.445002,0.190342,10.394458
406,74.400002,850,122.400002,5029,29210.0,6513,1.600000,91.900002,9.500000,9.700000,35723.0,10.483550,8.522977,6.745236,4.807294,0.222972,10.282267
407,79.500000,7585,93.300003,4529,33645.0,7682,22.000000,40.599998,2.700000,7.200000,41327.0,10.629272,8.418257,8.933928,4.535820,0.228325,10.423619

In [13]:
meap93.describe()

,lnchprg,enroll,staff,expend,salary,benefits,droprate,gradrate,math10,sci11,totcomp,ltotcomp,lexpend,lenroll,lstaff,bensal,lsalary
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000
mean,25.201471,2663.806373,100.641667,4376.578431,31774.507353,6463.428922,5.066422,83.651716,24.106863,49.183088,38237.936275,10.539960,8.370177,7.509714,4.603369,0.204503,10.354385
std,13.610075,2696.820560,13.299518,775.789717,5038.303826,1456.337659,5.485072,13.368375,10.493613,12.524668,5985.086038,0.151267,0.161882,0.867304,0.126683,0.037533,0.154316
min,1.400000,212.000000,65.900002,3332.000000,19764.000000,0.000000,0.000000,23.500000,1.900000,7.200000,24498.000000,10.106347,8.111328,5.356586,4.188138,0.000000,9.891618
25%,14.625000,1037.500000,91.450001,3821.250000,28185.500000,5536.500000,1.900000,77.000000,16.625000,41.299999,34032.000000,10.435057,8.248333,6.944566,4.515792,0.187977,10.246563
50%,23.849999,1840.500000,99.000000,4145.000000,31266.000000,6304.500000,3.700000,86.300003,23.400000,49.100000,37443.500000,10.530588,8.329658,7.517791,4.595120,0.202401,10.350286
75%,33.825000,3084.750000,108.025000,4658.750000,34499.750000,7228.000000,6.500000,93.224998,30.050000,57.149999,41637.000000,10.636744,8.446502,8.034225,4.682363,0.220256,10.448707
max,79.500000,16793.000000,166.600006,7419.000000,52812.000000,11618.000000,61.900002,127.099998,66.699997,85.699997,63518.000000,11.059078,8.911799,9.728718,5.115596,0.449985,10.874494

In [14]:
meap93.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   lnchprg   408 non-null    float64
 1   enroll    408 non-null    int64
 2   staff     408 non-null    float64
 3   expend    408 non-null    int64
 4   salary    408 non-null    float64
 5   benefits  408 non-null    int64
 6   droprate  408 non-null    float64
 7   gradrate  408 non-null    float64
 8   math10    408 non-null    float64
 9   sci11     408 non-null    float64
 10  totcomp   408 non-null    float64
 11  ltotcomp  408 non-null    float64
 12  lexpend   408 non-null    float64
 13  lenroll   408 non-null    float64
 14  lstaff    408 non-null    float64
 15  bensal    408 non-null    float64
 16  lsalary   408 non-null    float64
dtypes: float64(14), int64(3)
memory usage: 54.3 KB

In [15]:
meapreg = smf.ols(formula='math10 ~ totcomp + staff + enroll', data=meap93)
meapfit = meapreg.fit()

In [16]:
meapfit.params

Intercept    2.274021
totcomp      0.000459
staff        0.047920
enroll      -0.000198
dtype: float64

In [17]:
meapfit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 math10   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     7.697
Date:                Sat, 27 Mar 2021   Prob (F-statistic):           5.18e-05
Time:                        13:32:15   Log-Likelihood:                -1526.2
No. Observations:                 408   AIC:                             3060.
Df Residuals:                     404   BIC:                             3076.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.2740      6.114      0.372      0.710      -9.745      14.293
totcomp        0.0005      0.000      4.570      0.000       0.000       0.001
staff          0.0479      0.040      1.204      0.229      -0.030       0.126
enroll        -0.0002      0.000     -0.918      0.359      -0.001       0.000
==============================================================================
Omnibus:                       31.666   Durbin-Watson:                   1.669
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.628
Skew:                           0.615   Prob(JB):                     1.51e-09
Kurtosis:                       3.936   Cond. No.                     4.68e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.68e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [18]:
gpa1

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,...,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
0,21,0,0,1,0,0,0,1,0,3.0,...,0,1,1,0,0,2.0,1.0,1,0,0
1,21,0,0,1,0,0,0,1,0,3.4,...,0,1,0,1,1,0.0,1.0,1,1,1
2,20,0,1,0,0,0,0,1,0,3.0,...,0,1,1,0,1,0.0,1.0,1,1,1
3,19,1,0,0,0,1,1,1,0,3.5,...,0,0,1,0,0,0.0,0.0,0,0,0
4,20,0,1,0,0,0,0,1,0,3.6,...,0,1,1,1,0,0.0,1.5,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,22,0,0,0,1,0,0,1,0,3.0,...,0,1,1,1,1,0.0,0.0,1,0,0
137,21,0,0,1,0,1,0,1,0,2.3,...,0,1,1,0,0,1.0,1.0,1,0,0
138,20,0,1,0,0,0,0,1,0,2.8,...,0,1,1,1,0,0.0,0.3,1,0,0
139,20,0,1,0,0,1,1,1,0,3.4,...,1,1,1,1,1,3.0,4.0,1,0,1
140,21,0,0,1,0,1,0,0,0,2.8,...,0,0,1,1,1,3.0,2.0,1,1,1

In [19]:
#4.3
gpareg = smf.ols(formula='colGPA ~ hsGPA + ACT + skipped', data=gpa1)
gpafit = gpareg.fit()

In [21]:
gpafit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 colGPA   R-squared:                       0.234
Model:                            OLS   Adj. R-squared:                  0.217
Method:                 Least Squares   F-statistic:                     13.92
Date:                Sat, 27 Mar 2021   Prob (F-statistic):           5.65e-08
Time:                        13:46:47   Log-Likelihood:                -41.501
No. Observations:                 141   AIC:                             91.00
Df Residuals:                     137   BIC:                             102.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.3896      0.332      4.191      0.000       0.734       2.045
hsGPA          0.4118      0.094      4.396      0.000       0.227       0.597
ACT            0.0147      0.011      1.393      0.166      -0.006       0.036
skipped       -0.0831      0.026     -3.197      0.002      -0.135      -0.032
==============================================================================
Omnibus:                        1.917   Durbin-Watson:                   1.881
Prob(Omnibus):                  0.383   Jarque-Bera (JB):                1.636
Skew:                           0.125   Prob(JB):                        0.441
Kurtosis:                       2.535   Cond. No.                         300.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
#CV for alpha = 5% and 1% using t-distribution with 137 df:
alpha = np.array([0.05, 0.01])
cv_t = stats.t.ppf(1-alpha / 2, 137)
cv_t

array([1.97743121, 2.61219198])

In [23]:
alpha

array([0.05, 0.01])

In [ ]:
#CV for alpha = 5% and 1% using normal distribution with 137 df:

In [24]:
cv_n = stats.norm.ppf(1-alpha / 2)
cv_n

array([1.95996398, 2.5758293 ])

In [26]:
gpafit.bse

Intercept    0.331554
hsGPA        0.093674
ACT          0.010565
skipped      0.025999
dtype: float64

In [27]:
#reproduce t-statistic
tstat = gpafit.params / gpafit.bse
tstat

Intercept    4.191039
hsGPA        4.396260
ACT          1.393319
skipped     -3.196840
dtype: float64

In [28]:
#reproduct p-values
pval = 2 * stats.t.cdf(-abs(tstat), 137)
pval

array([4.95026897e-05, 2.19205015e-05, 1.65779902e-01, 1.72543113e-03])

In [29]:
#95% CI:
CI95 = gpafit.conf_int(0.05)
CI95

                  0         1
Intercept  0.733930  2.045178
hsGPA      0.226582  0.597050
ACT       -0.006171  0.035612
skipped   -0.134523 -0.031703

In [30]:
#99% CI
CI99 = gpafit.conf_int(0.01)
CI99

                  0         1
Intercept  0.523472  2.255635
hsGPA      0.167121  0.656511
ACT       -0.012877  0.042318
skipped   -0.151026 -0.015200

In [31]:
#4.3 LINEAR RESTRICTIONS - F TESTS

mlb1 = pd.read_csv("mlb1.csv")
mlb1

,salary,teamsal,nl,years,games,atbats,runs,hits,doubles,triples,...,runsyr,percwhte,percblck,perchisp,blckpb,hispph,whtepw,blckph,hisppb,lsalary
0,6329213.0,38407380.0,1,12,1705,6705,1076,1939,320,67,...,89.666664,70.277969,18.844229,10.877804,0.000000,0.000000,70.277969,0.000000,0.000000,15.660686
1,3375000.0,38407380.0,1,8,918,3333,407,863,156,38,...,50.875000,70.277969,18.844229,10.877804,18.844229,0.000000,0.000000,10.877804,0.000000,15.031906
2,3100000.0,38407380.0,1,5,751,2807,370,840,148,18,...,74.000000,70.277969,18.844229,10.877804,0.000000,0.000000,70.277969,0.000000,0.000000,14.946913
3,2900000.0,38407380.0,1,8,1056,3337,405,816,143,18,...,50.625000,70.277969,18.844229,10.877804,0.000000,0.000000,70.277969,0.000000,0.000000,14.880221
4,1650000.0,38407380.0,1,12,1196,3603,437,928,19,16,...,36.416668,70.277969,18.844229,10.877804,18.844229,0.000000,0.000000,10.877804,0.000000,14.316286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,312000.0,35586456.0,0,5,439,1098,150,260,41,8,...,30.000000,73.149635,13.871621,12.978746,0.000000,0.000000,73.149635,0.000000,0.000000,12.650759
349,275000.0,35586456.0,0,2,211,700,63,183,32,1,...,31.500000,73.149635,13.871621,12.978746,0.000000,12.978746,0.000000,0.000000,13.871621,12.524527
350,250000.0,35586456.0,0,3,249,828,112,176,36,2,...,37.333332,73.149635,13.871621,12.978746,0.000000,0.000000,73.149635,0.000000,0.000000,12.429216
351,200000.0,35586456.0,0,6,667,2087,217,510,92,5,...,36.166668,73.149635,13.871621,12.978746,0.000000,0.000000,73.149635,0.000000,0.000000,12.206073
352,109000.0,35586456.0,0,1,12,24,1,4,0,0,...,1.000000,73.149635,13.871621,12.978746,0.000000,0.000000,73.149635,0.000000,0.000000,11.599103

In [33]:
mlbreg = smf.ols(formula='np.log(salary) ~ years + gamesyr + bavg + hrunsyr + rbisyr', data=mlb1)
mlbfit = mlbreg.fit()

In [34]:
mlbfit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.622
Method:                 Least Squares   F-statistic:                     117.1
Date:                Sat, 27 Mar 2021   Prob (F-statistic):           2.94e-72
Time:                        14:49:42   Log-Likelihood:                -385.11
No. Observations:                 353   AIC:                             782.2
Df Residuals:                     347   BIC:                             805.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     11.1924      0.289     38.752      0.000      10.624      11.760
years          0.0689      0.012      5.684      0.000       0.045       0.093
gamesyr        0.0126      0.003      4.742      0.000       0.007       0.018
bavg           0.0010      0.001      0.887      0.376      -0.001       0.003
hrunsyr        0.0144      0.016      0.899      0.369      -0.017       0.046
rbisyr         0.0108      0.007      1.500      0.134      -0.003       0.025
==============================================================================
Omnibus:                        6.816   Durbin-Watson:                   1.265
Prob(Omnibus):                  0.033   Jarque-Bera (JB):               10.197
Skew:                          -0.068   Prob(JB):                      0.00610
Kurtosis:                       3.821   Cond. No.                     2.09e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.09e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [36]:
mlbfit.params

Intercept    11.192418
years         0.068863
gamesyr       0.012552
bavg          0.000979
hrunsyr       0.014429
rbisyr        0.010766
dtype: float64

In [44]:
mlbrreg = smf.ols(formula='np.log(salary) ~ years + gamesyr', data=mlb1)

In [45]:
mlbrfit = mlbrreg.fit()
mlb_r2_r = mlbrfit.rsquared
mlb_r2_ur =mlbfit.rsquared

In [46]:
mlb_r2_ur

0.6278028485187443

In [47]:
mlb_r2_r

0.5970716339066895

In [50]:
#F-STATISTIC
n = mlb1.shape[0]
fstat = (mlb_r2_ur - mlb_r2_r) / (1 - mlb_r2_ur) * (n-6)/3

In [51]:
fstat

9.55025352195195

In [52]:
#CV 
mlb_cv = stats.f.ppf(1-0.01, 3, 347)
mlb_cv

3.838520048496057

In [53]:
#P-value = 1-cdf of appropriate F distribution
fpval = 1-stats.f.cdf(fstat, 3, 347)
fpval

4.473708139829391e-06

In [ ]:
#INSTEAD OF DOING THE ABOVE ^^^^^^^^ USE statsmodel f_test

In [ ]:
hypotheses = ['var_name1 = 0',. 'var_name2 = 0', ...]
ftest = results.f_test(hypotheses)
#WHERE hypotheses collects the null hypothesis to be tested.
#REST OF CODE ON PAGE 125 & 126