In [1]:
#CHAPTER 7 - MULTIPLE REGRESSION ANALYSIS WITH QUALITATIVE INFORMATION

import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.formula.api as smf

In [43]:
wage = pd.read_csv("wage1.csv")
wage

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,south,west,construc,ndurman,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,0,1,0,0,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,0,1,0,0,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,0,1,0,0,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,0,1,0,0,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,0,1,1,0,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,0,1,0,0,0,0,0,1,0,1,0,1.252763,25,16

In [3]:
wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   wage      526 non-null    float64
 1   educ      526 non-null    int64
 2   exper     526 non-null    int64
 3   tenure    526 non-null    int64
 4   nonwhite  526 non-null    int64
 5   female    526 non-null    int64
 6   married   526 non-null    int64
 7   numdep    526 non-null    int64
 8   smsa      526 non-null    int64
 9   northcen  526 non-null    int64
 10  south     526 non-null    int64
 11  west      526 non-null    int64
 12  construc  526 non-null    int64
 13  ndurman   526 non-null    int64
 14  trcommpu  526 non-null    int64
 15  trade     526 non-null    int64
 16  services  526 non-null    int64
 17  profserv  526 non-null    int64
 18  profocc   526 non-null    int64
 19  clerocc   526 non-null    int64
 20  servocc   526 non-null    int64
 21  lwage     526 non-null    float64
 22  expersq   526 non-null    int64
 23  tenursq   526 non-null    int64
dtypes: float64(2), int64(22)
memory usage: 98.8 KB

In [4]:
wage.sum()

wage          3101.350007
educ          6608.000000
exper         8951.000000
tenure        2685.000000
nonwhite        54.000000
female         252.000000
married        320.000000
numdep         549.000000
smsa           380.000000
northcen       132.000000
south          187.000000
west            89.000000
construc        24.000000
ndurman         60.000000
trcommpu        23.000000
trade          151.000000
services        53.000000
profserv       136.000000
profocc        193.000000
clerocc         88.000000
servocc         74.000000
lwage          853.839202
expersq     249027.000000
tenursq      41107.000000
dtype: float64

In [6]:
wagereg = smf.ols(formula = 'female ~ educ', data = wage)
wageregfit = wagereg.fit()

In [8]:
wageregfit.params

Intercept    0.671986
educ        -0.015355
dtype: float64

In [10]:
wageregfit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 female   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     3.816
Date:                Fri, 02 Apr 2021   Prob (F-statistic):             0.0513
Time:                        13:39:40   Log-Likelihood:                -379.40
No. Observations:                 526   AIC:                             762.8
Df Residuals:                     524   BIC:                             771.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6720      0.101      6.646      0.000       0.473       0.871
educ          -0.0154      0.008     -1.953      0.051      -0.031    8.66e-05
==============================================================================
Omnibus:                     2207.775   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               85.142
Skew:                           0.078   Prob(JB):                     3.25e-19
Kurtosis:                       1.035   Cond. No.                         60.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
wagereg1 = smf.ols(formula = 'wage ~ female + educ + exper + tenure', data = wage)
wagereg1fit = wagereg1.fit()

In [12]:
wagereg1fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.364
Model:                            OLS   Adj. R-squared:                  0.359
Method:                 Least Squares   F-statistic:                     74.40
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           7.30e-50
Time:                        13:44:52   Log-Likelihood:                -1314.2
No. Observations:                 526   AIC:                             2638.
Df Residuals:                     521   BIC:                             2660.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.5679      0.725     -2.164      0.031      -2.991      -0.145
female        -1.8109      0.265     -6.838      0.000      -2.331      -1.291
educ           0.5715      0.049     11.584      0.000       0.475       0.668
exper          0.0254      0.012      2.195      0.029       0.003       0.048
tenure         0.1410      0.021      6.663      0.000       0.099       0.183
==============================================================================
Omnibus:                      185.864   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              715.580
Skew:                           1.589   Prob(JB):                    4.11e-156
Kurtosis:                       7.749   Cond. No.                         141.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
#EXAMPLE 7.2 - EFFECTS OF COMPUTER OWNERSHIP ON COLLEGE GPA
gpa = pd.read_csv("gpa1.csv")
pd.set_option('display.max_columns', None)
gpa

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,hsGPA,ACT,job19,job20,drive,bike,walk,voluntr,PC,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
0,21,0,0,1,0,0,0,1,0,3.0,3.0,21,0,1,1,0,0,0,0,0,1,1,0,0,2.0,1.0,1,0,0
1,21,0,0,1,0,0,0,1,0,3.4,3.2,24,0,1,1,0,0,0,0,0,1,0,1,1,0.0,1.0,1,1,1
2,20,0,1,0,0,0,0,1,0,3.0,3.6,26,1,0,0,0,1,0,0,0,1,1,0,1,0.0,1.0,1,1,1
3,19,1,0,0,0,1,1,1,0,3.5,3.5,27,1,0,0,0,1,0,0,0,0,1,0,0,0.0,0.0,0,0,0
4,20,0,1,0,0,0,0,1,0,3.6,3.9,28,0,1,0,1,0,0,0,0,1,1,1,0,0.0,1.5,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,22,0,0,0,1,0,0,1,0,3.0,3.3,23,0,1,0,0,1,1,0,0,1,1,1,1,0.0,0.0,1,0,0
137,21,0,0,1,0,1,0,1,0,2.3,3.6,25,0,1,0,0,1,0,0,0,1,1,0,0,1.0,1.0,1,0,0
138,20,0,1,0,0,0,0,1,0,2.8,3.4,21,0,1,0,1,0,0,0,0,1,1,1,0,0.0,0.3,1,0,0
139,20,0,1,0,0,1,1,1,0,3.4,3.7,26,0,0,0,0,1,0,0,1,1,1,1,1,3.0,4.0,1,0,1
140,21,0,0,1,0,1,0,0,0,2.8,3.3,28,1,0,0,1,0,0,0,0,0,1,1,1,3.0,2.0,1,1,1

In [21]:
gpa.describe()

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,hsGPA,ACT,job19,job20,drive,bike,walk,voluntr,PC,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.00000,141.000000,141.000000
mean,20.886525,0.021277,0.382979,0.503546,0.092199,0.524823,0.170213,0.794326,0.035461,3.056738,3.402128,24.156028,0.411348,0.170213,0.205674,0.361702,0.432624,0.219858,0.397163,0.319149,0.773050,0.936170,0.475177,0.602837,1.076241,1.901064,0.87234,0.588652,0.539007
std,1.271064,0.144819,0.487846,0.501770,0.290337,0.501164,0.377159,0.405634,0.185601,0.372310,0.319926,2.844252,0.493832,0.377159,0.405634,0.482206,0.497206,0.415627,0.491055,0.467809,0.420353,0.245321,0.501164,0.491055,1.088882,1.374701,0.33490,0.493832,0.500253
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.200000,2.400000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.800000,3.200000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,0.000000
50%,21.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,3.400000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.00000,1.000000,1.000000
75%,21.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.300000,3.600000,26.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.00000,1.000000,1.000000
max,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,33.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,7.000000,1.00000,1.000000,1.000000

In [14]:
gpareg = smf.ols(formula = 'colGPA ~ PC + hsGPA + ACT', data = gpa)
gpafit = gpareg.fit()

In [15]:
gpafit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 colGPA   R-squared:                       0.219
Model:                            OLS   Adj. R-squared:                  0.202
Method:                 Least Squares   F-statistic:                     12.83
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           1.93e-07
Time:                        14:22:22   Log-Likelihood:                -42.796
No. Observations:                 141   AIC:                             93.59
Df Residuals:                     137   BIC:                             105.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.2635      0.333      3.793      0.000       0.605       1.922
PC             0.1573      0.057      2.746      0.007       0.044       0.271
hsGPA          0.4472      0.094      4.776      0.000       0.262       0.632
ACT            0.0087      0.011      0.822      0.413      -0.012       0.029
==============================================================================
Omnibus:                        2.770   Durbin-Watson:                   1.870
Prob(Omnibus):                  0.250   Jarque-Bera (JB):                1.863
Skew:                           0.016   Prob(JB):                        0.394
Kurtosis:                       2.438   Cond. No.                         298.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
gpareg1 = smf.ols(formula = 'colGPA ~ PC', data = gpa)
gpafit1 = gpareg1.fit()
gpafit1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 colGPA   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     7.314
Date:                Fri, 02 Apr 2021   Prob (F-statistic):            0.00770
Time:                        14:32:44   Log-Likelihood:                -56.641
No. Observations:                 141   AIC:                             117.3
Df Residuals:                     139   BIC:                             123.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.9894      0.040     75.678      0.000       2.911       3.068
PC             0.1695      0.063      2.704      0.008       0.046       0.293
==============================================================================
Omnibus:                        2.136   Durbin-Watson:                   1.941
Prob(Omnibus):                  0.344   Jarque-Bera (JB):                1.852
Skew:                           0.160   Prob(JB):                        0.396
Kurtosis:                       2.539   Cond. No.                         2.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#7.3 EFFECTS OF TRAINING GRANTS ON HOURS OF TRAINING

In [29]:
jtrain = pd.read_csv("jtrain.csv")

In [25]:
jtrain

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,d89,d88,totrain,hrsemp,lscrap,lemploy,lsales,lrework,lhrsemp,lscrap_1,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,0,0,100.0,12.000000,NaN,4.605170,17.665659,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,0,1,50.0,3.053435,NaN,4.875197,17.576710,NaN,1.399565,NaN,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,1,0,50.0,3.252033,NaN,4.812184,17.707331,NaN,1.447397,NaN,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,0,0,12.0,12.000000,NaN,2.484907,14.260197,NaN,2.564949,NaN,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,0,1,13.0,12.000000,NaN,2.564949,14.493544,NaN,2.564949,NaN,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,1988,419483.0,108.0,11500000.0,14810.0,25.0,NaN,0.0,1,0,0,1,0.0,0.000000,3.218876,4.682131,16.257858,NaN,0.000000,2.995732,0,0.223144,0,-0.208218,0.044453,9.603058,0.059321,0.0,0.000000,0.000000
467,1989,419483.0,129.0,12000000.0,14227.0,30.0,NaN,20.0,1,0,1,0,20.0,3.100775,3.401197,4.859812,16.300417,NaN,1.411176,3.218876,0,0.182322,0,0.177681,0.042559,9.562897,-0.040161,0.0,3.100775,1.411176
468,1987,419486.0,80.0,7000000.0,16000.0,NaN,NaN,0.0,0,0,0,0,0.0,0.000000,NaN,4.382027,15.761420,NaN,0.000000,NaN,0,NaN,0,NaN,NaN,9.680344,NaN,NaN,NaN,NaN
469,1988,419486.0,90.0,8500000.0,17000.0,NaN,NaN,0.0,0,0,0,1,0.0,0.000000,NaN,4.499810,15.955577,NaN,0.000000,NaN,0,NaN,0,0.117783,0.194157,9.740969,0.060625,0.0,0.000000,0.000000
470,1989,419486.0,100.0,9900000.0,18000.0,NaN,NaN,40.0,0,1,1,0,90.0,36.000000,NaN,4.605170,16.108046,NaN,3.610918,NaN,0,NaN,1,0.105361,0.152469,9.798127,0.057158,0.0,36.000000,3.610918

In [34]:
jtrainreg = smf.ols(formula = 'hrsemp ~ grant - np.log(sales)', data = jtrain)
jtrainfit1 = jtrainreg.fit()
jtrainfit1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrsemp   R-squared:                       0.212
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     104.1
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           8.22e-22
Time:                        14:52:21   Log-Likelihood:                -1772.8
No. Observations:                 390   AIC:                             3550.
Df Residuals:                     388   BIC:                             3558.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.9813      1.256      7.944      0.000       7.511      12.452
grant         32.9598      3.230     10.203      0.000      26.609      39.311
==============================================================================
Omnibus:                      240.342   Durbin-Watson:                   1.172
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1825.731
Skew:                           2.618   Prob(JB):                         0.00
Kurtosis:                      12.216   Cond. No.                         2.86
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#PROBLEM WITH ABOVE REGRESSION WITH NEGATIVE LOG*******************************

In [36]:
#7.4
hprice = pd.read_csv("hprice1.csv")
hpricereg = smf.ols(formula = 'np.log(price) ~ np.log(lotsize) + np.log(sqrft) + bdrms + colonial', data = hprice)
hpricefit = hpricereg.fit()
hpricefit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(price)   R-squared:                       0.649
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     38.38
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           3.74e-18
Time:                        15:03:53   Log-Likelihood:                 26.619
No. Observations:                  88   AIC:                            -43.24
Df Residuals:                      83   BIC:                            -30.85
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -1.3496      0.651     -2.073      0.041      -2.644      -0.055
np.log(lotsize)     0.1678      0.038      4.395      0.000       0.092       0.244
np.log(sqrft)       0.7072      0.093      7.620      0.000       0.523       0.892
bdrms               0.0268      0.029      0.934      0.353      -0.030       0.084
colonial            0.0538      0.045      1.202      0.233      -0.035       0.143
==============================================================================
Omnibus:                       13.728   Durbin-Watson:                   2.077
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               50.828
Skew:                          -0.053   Prob(JB):                     9.18e-12
Kurtosis:                       6.722   Cond. No.                         411.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [37]:
#7.5 - LOG HOURLY WAGE EQUATION

wagereg2 = smf.ols(formula = 'np.log(wage) ~ female + educ + exper - np.power(exper, 2) + tenure - np.power(tenure, 2)', data = wage)
wageregfit2 = wagereg2.fit()
wageregfit2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.392
Model:                            OLS   Adj. R-squared:                  0.388
Method:                 Least Squares   F-statistic:                     84.07
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           4.68e-55
Time:                        15:21:58   Log-Likelihood:                -282.46
No. Observations:                 526   AIC:                             574.9
Df Residuals:                     521   BIC:                             596.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5013      0.102      4.920      0.000       0.301       0.702
female        -0.3011      0.037     -8.085      0.000      -0.374      -0.228
educ           0.0875      0.007     12.605      0.000       0.074       0.101
exper          0.0046      0.002      2.845      0.005       0.001       0.008
tenure         0.0174      0.003      5.835      0.000       0.012       0.023
==============================================================================
Omnibus:                       12.037   Durbin-Watson:                   1.775
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               22.360
Skew:                           0.012   Prob(JB):                     1.40e-05
Kurtosis:                       4.010   Cond. No.                         141.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [40]:
# EXPONENTIATE AND SUBTRACT 1 FOR MORE ACCURATE ESTIMATE FOR female coeff
np.exp(-.3011)-1

#SO REALLY ON AVERAGE women's wages are about 26% below men's instead of about 30.1%

-0.2599962313303015

In [41]:
#7.6 LOG HOURLY WAGE EQUATION
wagereg3 = smf.ols(formula = 'np.log(wage) ~ married + female + educ + exper - np.power(exper, 2) + tenure - np.power(tenure, 2)', data = wage)
wageregfit3 = wagereg3.fit()
wageregfit3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.404
Model:                            OLS   Adj. R-squared:                  0.398
Method:                 Least Squares   F-statistic:                     70.38
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           3.57e-56
Time:                        15:45:12   Log-Likelihood:                -277.50
No. Observations:                 526   AIC:                             567.0
Df Residuals:                     520   BIC:                             592.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.4901      0.101      4.847      0.000       0.291       0.689
married        0.1257      0.040      3.145      0.002       0.047       0.204
female        -0.2855      0.037     -7.662      0.000      -0.359      -0.212
educ           0.0839      0.007     12.033      0.000       0.070       0.098
exper          0.0031      0.002      1.863      0.063      -0.000       0.006
tenure         0.0169      0.003      5.707      0.000       0.011       0.023
==============================================================================
Omnibus:                       11.877   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               21.152
Skew:                           0.071   Prob(JB):                     2.55e-05
Kurtosis:                       3.972   Cond. No.                         141.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [48]:
wage2 = pd.read_csv("wage1.csv.bz2")
wage2

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,south,west,construc,ndurman,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,0,1,0,0,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,0,1,0,0,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,0,1,0,0,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,0,1,0,0,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,0,1,1,0,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,0,1,0,0,0,0,0,1,0,1,0,1.252763,25,16

In [42]:
#ADDING 3 DUMMIES TO ACCOUNT FOR married and unmarried men and women
wagereg4 = smf.ols(formula = 'np.log(wage) ~ marrmale- marrfem - singfem + educ + exper - np.power(exper, 2) + tenure - np.power(tenure, 2)', data = wage)
wageregfit4 = wagereg4.fit()
wageregfit4.summary()

PatsyError: Error evaluating factor: NameError: name 'marrmale' is not defined
    np.log(wage) ~ marrmale- marrfem - singfem + educ + exper - np.power(exper, 2) + tenure - np.power(tenure, 2)
                   ^^^^^^^^

In [49]:
#FROM WOOLRIDGE/BRUNNER

#7.1 - can also indicate what values are True and what are False with Boolean values
#----- Here we create a new column isfemale (FALSE/TRUE) from the female (0/1) column

wage['isfemale'] = (wage['female'] == 1)
wage

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,south,west,construc,ndurman,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq,isfemale
0,3.10,11,2,0,0,1,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1.131402,4,0,True
1,3.24,12,22,2,0,1,1,3,1,0,0,1,0,0,0,0,1,0,0,0,1,1.175573,484,4,True
2,3.00,11,2,0,0,0,0,2,0,0,0,1,0,0,0,1,0,0,0,0,0,1.098612,4,0,False
3,6.00,8,44,28,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1.791759,1936,784,False
4,5.30,12,7,2,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1.667707,49,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,0,1,0,0,0,0,0,1,1,0,0,2.708050,196,4,True
522,2.27,10,2,0,0,1,0,3,0,0,0,1,0,0,0,1,0,0,1,0,0,0.819780,4,0,True
523,4.67,15,13,18,0,0,1,3,0,0,0,1,1,0,0,0,0,0,1,0,0,1.541159,169,324,False
524,11.56,16,5,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,2.447551,25,1,False
525,3.50,14,5,4,1,1,0,2,0,0,0,1,0,0,0,0,0,1,0,1,0,1.252763,25,16,True

In [50]:
wageboolreg = smf.ols(formula = 'wage ~ isfemale + educ + exper + tenure', data = wage)
wageboolfit = wageboolreg.fit()
wageboolfit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.364
Model:                            OLS   Adj. R-squared:                  0.359
Method:                 Least Squares   F-statistic:                     74.40
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           7.30e-50
Time:                        17:25:28   Log-Likelihood:                -1314.2
No. Observations:                 526   AIC:                             2638.
Df Residuals:                     521   BIC:                             2660.
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -1.5679      0.725     -2.164      0.031      -2.991      -0.145
isfemale[T.True]    -1.8109      0.265     -6.838      0.000      -2.331      -1.291
educ                 0.5715      0.049     11.584      0.000       0.475       0.668
exper                0.0254      0.012      2.195      0.029       0.003       0.048
tenure               0.1410      0.021      6.663      0.000       0.099       0.183
==============================================================================
Omnibus:                      185.864   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              715.580
Skew:                           1.589   Prob(JB):                    4.11e-156
Kurtosis:                       7.749   Cond. No.                         141.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
# IF WE HAVE ANOTHER VARIABLE (OS) THAT HAS MULTIPLE CATEGORIES IN OUR RAW DATA THAT WE WANT TO RENAME WE CAN DO LIKE THIS:
# (Leaving 'Android' as reference category)
iOS = OS=='iOS'
wind = OS=='Windows'
oth = OS=='other'

# A MORE ELEGANT WAY OF DEFININING CATEGORIES IS THROUGH THE statsmodel C function

In [55]:
#7.3 WOOLRIDGE/BRUNNER
# CAN'T FIND THE RIGHT DATASET FOR THE PROBLEM IN BOOK
cps = pd.read_csv("cps78_85.csv")
cps

,educ,south,nonwhite,female,married,exper,expersq,union,lwage,age,year,y85,y85fem,y85educ,y85union
0,12,0,0,0,0,8,64,0,1.2150,25,78,0,0,0,0
1,12,0,0,1,1,30,900,1,1.6094,47,78,0,0,0,0
2,6,0,0,0,1,38,1444,1,2.1401,49,78,0,0,0,0
3,12,0,0,0,1,19,361,1,2.0732,36,78,0,0,0,0
4,12,0,0,0,1,11,121,0,1.6490,28,78,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,12,0,1,1,1,18,324,0,2.1552,36,85,1,1,12,0
1080,14,0,0,1,0,13,169,0,2.9178,33,85,1,1,14,0
1081,18,0,0,0,1,8,64,0,3.1001,32,85,1,0,18,0
1082,12,0,1,0,0,14,196,1,2.7887,32,85,1,0,12,1
1083,12,0,0,0,0,9,81,0,2.9689,27,85,1,0,12,0

In [61]:

#IN THE BOOK HE TAKES USES CROSSTAB TO CREATE A TABLE OF CATEGORIES AND FREQUENCIES FOR 2 CATEGORICAL VARIABLES:
freq_gender = pd.crosstab(cps['female'], columns='count')
freq_gender

col_0   count
female
0         632
1         452

In [63]:
freq_union = pd.crosstab(cps['union'], columns='count')
freq_union

col_0  count
union
0        820
1        264

In [67]:
cpsregC = smf.ols(formula = 'lwage ~ exper + y85educ + C(female) + C(union)', data = cps)
cpsfitC = cpsregC.fit()
cpsfitC.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.298
Model:                            OLS   Adj. R-squared:                  0.295
Method:                 Least Squares   F-statistic:                     114.2
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           2.93e-81
Time:                        17:57:25   Log-Likelihood:                -683.90
No. Observations:                1084   AIC:                             1378.
Df Residuals:                    1079   BIC:                             1403.
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          1.5581      0.032     49.272      0.000       1.496       1.620
C(female)[T.1]    -0.2656      0.028     -9.337      0.000      -0.321      -0.210
C(union)[T.1]      0.2067      0.033      6.209      0.000       0.141       0.272
exper              0.0071      0.001      6.510      0.000       0.005       0.009
y85educ            0.0374      0.002     17.967      0.000       0.033       0.041
==============================================================================
Omnibus:                       29.712   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.253
Skew:                          -0.037   Prob(JB):                     2.49e-15
Kurtosis:                       4.218   Cond. No.                         64.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [68]:
#CAN USE SECOND ARGUMENT IN C FUNCTION TO SPECIFY TREATMENT GROUPS:

ncpsregC = smf.ols(formula = 'lwage ~ exper + y85educ + C(female, Treatment(0)) + C(union, Treatment(1))', data = cps)
ncpsfitC = ncpsregC.fit()
ncpsfitC.summary()

# IN THE ABOVE EQUATION THE C FUNCTION WITH TREATMENT COMMAND WILL SHOW UP IN REGRESSION TABLE - CAN THEN EASILY SEE THAT 
# THE UNION VARIABLE IS CAPTURED WITH C(union)[T.1] dummy variable and that gender is captured in C(female)[T.0] dummy variable.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.298
Model:                            OLS   Adj. R-squared:                  0.295
Method:                 Least Squares   F-statistic:                     114.2
Date:                Fri, 02 Apr 2021   Prob (F-statistic):           2.93e-81
Time:                        18:03:35   Log-Likelihood:                -683.90
No. Observations:                1084   AIC:                             1378.
Df Residuals:                    1079   BIC:                             1403.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                        1.7648      0.039     44.820      0.000       1.688       1.842
C(female, Treatment(0))[T.1]    -0.2656      0.028     -9.337      0.000      -0.321      -0.210
C(union, Treatment(1))[T.0]     -0.2067      0.033     -6.209      0.000      -0.272      -0.141
exper                            0.0071      0.001      6.510      0.000       0.005       0.009
y85educ                          0.0374      0.002     17.967      0.000       0.033       0.041
==============================================================================
Omnibus:                       29.712   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.253
Skew:                          -0.037   Prob(JB):                     2.49e-15
Kurtosis:                       4.218   Cond. No.                         77.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#7.3.1 - WOOLRIDGE/BRUNNER
# ANOVA TABLES